In [1]:
import pandas as pd
import numpy as np

In [65]:
fpc = pd.read_csv('/home/refu0917/lungcancer/server/fp_cancer.csv')
spc = pd.read_csv('/home/refu0917/lungcancer/server/sp_cancer.csv')
del_file = pd.read_csv('/home/refu0917/lungcancer/server/del_file.csv')
#　spc_del = pd.read_csv('/home/refu0917/lungcancer/server/sp_cancer_del.csv')
columns = ['醫院別', '有無二癌', '性別', '診斷年齡', '分級分化', '腫瘤大小', '區域淋巴結侵犯數目', '臨床期別組合'
        , '原發部位手術邊緣', '放射治療開始日期', '全身性治療開始日期', '原發部位最確切的手術切除日期', '身高'
        , '體重', '吸菸行為' ,'嚼檳榔行為', '喝酒行為', '癌症部位特定因子1', '癌症部位特定因子2'
        , '癌症部位特定因子3', '癌症部位特定因子4', '癌症部位特定因子6', '最初診斷日期']

col_map = ["LOC", "Class", "Gender", "Age", "DIFF", "TMRSZ", "LYMND"
            , "AJCCstage", "MAGN", "RTDATE", "STDATE", "OP", "Height", "Weight"
            , "CIG", "BN", "ALC", "SSF1", "SSF2", "SSF3", "SSF4", "SSF6", "FullDate"    
            ]

/tmp/ipykernel_2447756/779945216.py:1: DtypeWarning: Columns (21,120) have mixed types. Specify dtype option on import or set low_memory=False.
  fpc = pd.read_csv('/home/refu0917/lungcancer/server/fp_cancer.csv')
/tmp/ipykernel_2447756/779945216.py:3: DtypeWarning: Columns (1,2,11,12,15,18,20,21,22,33,37,39,43,48,49,50,51,98,99,100,101,109,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  del_file = pd.read_csv('/home/refu0917/lungcancer/server/del_file.csv')

In [71]:
fpc_del = del_file.loc[(del_file['同/異時'].isna()) & (del_file['有無二癌'].isna()) & (del_file['醫院別'] != '長庚')]
spc_del = del_file.loc[(del_file['同/異時'].notna()) & (del_file['有無二癌'] == 'Y') & (del_file['醫院別'] != '長庚')]
del_df = pd.concat([fpc_del[columns], spc_del[columns]])
del_df.rename(columns=dict((i,j)for i,j in zip(columns, col_map)))

,LOC,Class,Gender,Age,DIFF,TMRSZ,LYMND,AJCCstage,MAGN,RTDATE,...,Weight,CIG,BN,ALC,SSF1,SSF2,SSF3,SSF4,SSF6,FullDate
13110,中山,NaN,2,81.0,9.0,30.0,98.0,4,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20090803
13111,中山,NaN,1,79.0,9.0,38.0,98.0,4,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20090730
13112,中山,NaN,1,75.0,3.0,51.0,98.0,4,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20090616
13113,中山,NaN,1,68.0,9.0,115.0,98.0,3A,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20080313
13114,中山,NaN,1,72.0,2.0,12.0,98.0,2A,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20080303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16851,亞東,Y,2,75.0,NaN,NaN,99999999.0,9.0,NaN,99999999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20080499
16853,仁愛,Y,1,53.0,NaN,NaN,20140806.0,0.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20140804
16855,仁愛,Y,1,81.0,NaN,NaN,20080722.0,0.0,NaN,20081225.0,...,,,,NaN,,,,,,20080716
16857,仁愛,Y,1,66.0,NaN,NaN,99999999.0,9.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20130313
16859,仁愛,Y,1,61.0,NaN,NaN,99999999.0,9.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20130399

In [73]:
del_df.loc[(del_df['最初診斷日期'] >= 20110000) & (del_df['有無二癌'].notna())][columns]

,醫院別,有無二癌,性別,診斷年齡,分級分化,腫瘤大小,區域淋巴結侵犯數目,臨床期別組合,原發部位手術邊緣,放射治療開始日期,...,體重,吸菸行為,嚼檳榔行為,喝酒行為,癌症部位特定因子1,癌症部位特定因子2,癌症部位特定因子3,癌症部位特定因子4,癌症部位特定因子6,最初診斷日期
16794,中慈,Y,1,66.0,3,7.0,20180529.0,0.0,999.0,99999999.0,...,999999,999999,999,999.0,988,988,988,988,988,20180529
16799,中慈,Y,1,66.0,NaN,NaN,99999999.0,9.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20161099
16801,中慈,Y,1,63.0,NaN,NaN,99999999.0,9.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20130199
16803,中慈,Y,1,78.0,NaN,NaN,99999999.0,9.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20141103
16805,中慈,Y,1,73.0,NaN,NaN,20141103.0,3.0,NaN,0.0,...,205001,000088,000,NaN,988,001,000,988,988,20141007
16807,中慈,Y,1,57.0,NaN,NaN,99999999.0,9.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20140905
16811,亞東,Y,1,67.0,9,7.0,20190611.0,0.0,999.0,99999999.0,...,999999,999999,999,999.0,988,988,988,988,988,20190527
16813,亞東,Y,1,46.0,9,8.0,20191108.0,0.0,999.0,99999999.0,...,999999,999999,999,999.0,988,988,988,988,988,20191108
16828,亞東,Y,2,73.0,NaN,NaN,0.0,0.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20130124
16853,仁愛,Y,1,53.0,NaN,NaN,20140806.0,0.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20140804
16857,仁愛,Y,1,66.0,NaN,NaN,99999999.0,9.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20130313
16859,仁愛,Y,1,61.0,NaN,NaN,99999999.0,9.0,NaN,99999999.0,...,999999,999999,999,NaN,988,988,988,988,988,20130399

In [22]:
fpc = fpc[columns]
spc = spc[columns]
fpc = fpc.rename(columns=dict((i,j)for i,j in zip(columns, col_map)))
spc = spc.rename(columns=dict((i,j)for i,j in zip(columns, col_map)))

spc = spc[spc.Class == 'Y']
df_all = pd.concat([fpc, spc])
df_all = df_all[df_all.LOC != '長庚']

In [9]:
columns = ["Class","LOC", "FullDate","Gender", "Age", "CIG",
            "ALC", "BN", "MAGN", "AJCCstage", "DIFF", "LYMND",
            "TMRSZ", "OP", "RTDATE", "STDATE", "BMI_label",
            "SSF1", "SSF2", "SSF3", "SSF4", "SSF6"]
df = pd.read_csv(r'/home/refu0917/lungcancer/server/AllCaseCtrl_final.csv')
dfcomp = df[columns]
dfcomp.head()

,Class,LOC,FullDate,Gender,Age,CIG,ALC,BN,MAGN,AJCCstage,...,TMRSZ,OP,RTDATE,STDATE,BMI_label,SSF1,SSF2,SSF3,SSF4,SSF6
0,0,3,2017/6/16,2,4,1.0,1.0,1.0,9.0,5,...,2.0,1,1,2,2.0,1.0,9.0,2.0,1.0,2.0
1,0,8,2014/7/7,2,6,2.0,2.0,2.0,9.0,5,...,2.0,1,1,2,1.0,1.0,9.0,2.0,2.0,2.0
2,0,3,2009/7/29,2,5,NaN,NaN,NaN,1.0,2,...,1.0,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN
3,0,3,2007/7/6,2,4,NaN,NaN,NaN,1.0,2,...,1.0,2,1,2,NaN,NaN,NaN,NaN,NaN,NaN
4,0,8,2010/7/7,1,6,NaN,NaN,NaN,9.0,9,...,9.0,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
fpc[fpc.LOC == '中慈']

,LOC,Class,Gender,Age,DIFF,TMRSZ,LYMND,AJCCstage,MAGN,RTDATE,...,Weight,CIG,BN,ALC,SSF1,SSF2,SSF3,SSF4,SSF6,FullDate
10847,中慈,N,1,64,9.0,89.0,98.0,4,8,20140813,...,51.0,104000.0,983098.0,1.0,20.0,988.0,2.0,13.0,000,20140728
10848,中慈,N,1,80,9.0,999.0,98.0,4,8,20120105,...,70.0,88.0,88.0,0.0,0.0,988.0,3.0,0.0,000,20111229
10849,中慈,N,1,63,9.0,38.0,98.0,4,8,0,...,57.0,88.0,88.0,0.0,30.0,988.0,3.0,13.0,020,20130702
10850,中慈,N,1,80,3.0,18.0,98.0,4,8,0,...,80.0,104098.0,88.0,4.0,0.0,988.0,4.0,0.0,000,20110411
10851,中慈,N,1,53,2.0,57.0,98.0,4,8,0,...,61.0,88.0,88.0,0.0,0.0,988.0,0.0,13.0,020,20130728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11541,中慈,N,1,61,3.0,28.0,0.0,BBB,0,0,...,83.0,204000.0,84000.0,0.0,0.0,0.0,0.0,988.0,000,20120704
11542,中慈,N,1,68,3.0,45.0,98.0,4,8,20120829,...,68.0,88.0,88.0,0.0,0.0,988.0,1.0,0.0,000,20120813
11543,中慈,N,1,91,2.0,60.0,98.0,3A,8,0,...,47.0,406002.0,88.0,0.0,0.0,988.0,4.0,988.0,000,20150804
11544,中慈,N,1,63,2.0,74.0,98.0,4,8,20170626,...,70.0,204000.0,88.0,2.0,20.0,988.0,0.0,0.0,000,20170421
11545,中慈,N,1,58,3.0,35.0,1.0,2A,0,0,...,69.0,204000.0,88.0,0.0,0.0,10.0,999.0,988.0,000,20131126

In [25]:
df_all[df_all.TMRSZ.isna()]

Empty DataFrame
Columns: [LOC, Class, Gender, Age, DIFF, TMRSZ, LYMND, AJCCstage, MAGN, RTDATE, STDATE, OP, Height, Weight, CIG, BN, ALC, SSF1, SSF2, SSF3, SSF4, SSF6, FullDate]
Index: []

[0 rows x 23 columns]

In [ ]:
def age_encode(age):
    if age < 21:
        return 1
    elif 21 <= age < 31:
        return 2
    elif 31 <= age < 41:
        return 3
    elif 41 <= age < 51:
        return 4
    elif 51 <= age < 61:
        return 5
    elif 61 <= age < 71:
        return 6
    elif 71 <= age < 81:
        return 7
    elif 81 <= age < 91:
        return 8
    elif age >= 91:
        return 9
        
def diff_encode(diff):
    if diff

In [7]:
df_all['Class'] = df_all['Class'].apply(lambda x:1 if x == 'Y' else 0)
df_all['Age'] = df_all['Age'].apply(lambda x:age_encode(x))